footer{
    bottom: 0;
}

#pageTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    text-align: center;
}

#socialMediaIcons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

#card{
    background-color: black;
}

#socialMediaIcons > img{
    width:1.5%;
    margin-left: 10px;
}

#mainLanding > h1{
    font-size: 5em;
    color: white;
}

#mainLanding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-image: url('../imgTest/d.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}

#mainLanding > #buttonLanding{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
}

#buttonLanding > a {
    flex-wrap: nowrap;
    border-radius: 10px;
    font-size: large;
    text-decoration: none;
    border-color: white;
    letter-spacing: 1.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 1.5em;
    margin: 2em;
}

#connexionForm{
    display: flex;
    flex-direction: column;
    padding: 3%;
    justify-content: space-around;
    background-color: #fff;
    width: 50%;
}

#buttonLanding > a:hover {
    background-color: rgba(95, 132, 37, 0.95);
    box-shadow: 0px 15px 20px rgba(95, 132, 37, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

#mainConnexion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 90vh;
    background-image: url('../imgTest/pexels-matheus-bertelli-2376997.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}

#connexionForm {
    padding: 5%;
    width: 100%;
    margin: 3%;
    border-radius: 1em;
}

#connexionDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#connexionForm > * {
    padding: 5%;
    margin: 4%;
}

html{
    height: 100vh;
}

body{
    height: 100vh;
}



