footer{
    bottom: 0;
}


#pageTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    text-align: center;
}

#socialMediaIcons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

#card{
    background-color: black;
    height: 100%;
    width: 100%;
}

#socialMediaIcons > img{
    width:1.5%;
    margin-left: 10px;
}

#mainLanding > h1{
    font-size: 5em;
    color: white;
}

#mainLanding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-image: url('../imgTest/d.jpg') ;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
}

#mainLanding > #buttonLanding{
    /* margin-top: 9em;
    margin-bottom: 9em; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
}

#buttonLanding > button {
    flex-wrap: nowrap;
    border-radius: 10px;
    font-size: large;
    border-color: white;
    background-color: white;
    padding: 1.5em;
    margin: 2em;
}

form {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

html{
    height: 100vh;
}

body{
    height: 100vh;
}



